* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Alegreya Sans"
}
ul {
    list-style: none;
    padding: 0;
    
}

.photo {
    width: 100% ;
}
.clear-fix {
    clear: both;
}
/* start header */

.nav {
    padding: 10px 20px;
}
.nav .logo {
    float: left;
    width: 20%;
    padding: 10px;

}
.nav .logo img {
    width: 70%;
}

.nav .link {
    float: right;
    width: 45%;
}
.nav .link ul {
    list-style-type: none;
    padding: 15px 0 10px 0;
}
.nav .link ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}
.nav .link ul li {
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}
.nav .link ul li a:hover {
    color: #c0a479;
    transition: 0.5s;
    
}

.header {
    text-align: center;
    background-image: url(./images/drew-coffman-1872.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}
.content-header {
    width: 700px;
    margin: auto;
    padding-top: 200px;
}
.content-header p {
    margin-bottom: 14px;
    font-size: 21px;
    color: rgba(255,255,255, .92);
}

.content-header h1 {
    font-family: 'Alegreya';
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 80px;

}

.content-header .btn{
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    
}
.content-header .btnbrow {
    background-color: #8e7754;
    margin-right: 10px;
    border: none;
}
.content-header .btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
/* end header */
.about-section {
    margin: 50px 0 ;
}
.about {
    width: 45%;
    float: left;
    margin: 30px;
    padding: 0 20px;
    
}

.stavrica img {
    width: 100%;
    vertical-align: center;
}
.cont  h2{
    margin-bottom: 30px;
    padding-top: 15px;
    font-weight: 400;
    font-size: 30px;
    color: #686868;
}
.cont  p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 4000;
    color: #686868;

}

.cont ul li {
    margin-bottom: 25px;
    color: #686868;

}

.cont  li img {
    width: 30px;
    border-radius: 50%;
    margin: 0;
    margin-right: 10px;
    vertical-align: center;
    margin-top: 5px;


}
/* .cont ul li i {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
} */
/* start section 3 */
.our-Locations{
    background-color: #f8f8f8;
    padding: 50px 30px;
}

.Location {
    width: 47%;
    float: left;
    margin: 10px;

}
.article {
    padding-top: 45px;    
}
.article h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0 30px 0;
}
.article p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 4000;
    color: #686868;
}
.bekary img{
    width: 100%;
    margin-left: 30px;
}
/* end section 3 */
 /* start section baking   */

.section-baking {
    margin: 30px;
    text-align: center;
}


.section-baking h2 {
    font-weight: 400;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.section-baking p {
    color: #888;
    margin: 30px 0 ;
    font-size: 17px;
}
.breads {
    width: 30%;
    float: left;
    margin: 30px 15px 30px 20px;
   
}
.breads h3 {
    font-weight: 400;
    font-size: 22px;
    margin-top: 30px;
}
.breads p {
    line-height: 30px;
    font-size: 17px;
    font-weight: 4000;
    color: #686868;

}

/* start section Information */

.information {
    background-color: #f8f8f8;
    padding: 50px 0 50px 0;
    height: 70vh;
    /* text-align: center; */
}

.contact {
    width: 44%;
    float: left;
    margin: 30px;
    padding: 0 20px;
    
}

.for h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}
.for p {
    color: #888;
    margin: 20px 0 ;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.contact ul li img {
    width: 30px;
    border-radius: 50%;
    vertical-align: center center;
    margin: 0;
    margin-right: 10px;

}
.contact ul li {
    margin-bottom: 20px;
    color: #686868;

}
.contact .add {
    width: 100%;
}
/* end section Information */ 

/* <!-- start section footer */

.footer {
    background-color: #403d38;
    width: 100%;
    padding: 80px 22px;
    
}

.content-footer {
    width: 22%;
    float: left;
    margin-right: 22px;
    margin-left: 10px;
}
.content-footer h3 {
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.content-footer p  {
    color: #969292;
    line-height: 30px;
    padding-bottom: 20px;
    font-weight: 400;
}


.content-footer li {
    color: #969292;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding-bottom: 10px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 500;
    
}
.content-footer li span {
    margin-right: 5px;
}
.content-footer ul li img {
    width: 30px;
    border-radius: 50%;
    vertical-align: center center;
    margin-right: 10px;
    vertical-align: top;
    margin-bottom: 5px;

}
.content-footer li:nth-last-child(1)  {
    border-bottom: none  ;                                                                    ;
}

/* <!-- end  section footer */

/* start last footer */

.bakery-footer {
    background-color:#363535fa ;
    text-align: center;
    width: auto;
    padding: 80px;
}
.last-footer img{
    margin-bottom: 30px;
}

.last-footer p {
    color: rgb(172, 170, 170);
    font-size: 14px;
    font-weight: 100;
}
/* end last footer */



